html, body, h1, p, img, a {
    padding: 0 ;
    border: 0 ;
    margin: 0 ;
    font: inherit ;
    font-size: 100% ;
}

body {
    background-color: lightsteelblue ;
}

main {
    width: 90% ;
    padding: 0.5em ;
    margin: 2em auto ;
    border: 2px dotted green ;    
}

h1 {
    text-align: center ;
}

p {
    text-align: center ;
    line-height: 1em ;
}

a {
    text-decoration: none ;
}

a:hover {
    text-decoration: underline ;
}

img {
    padding: 0.2em ;
    border: 1px dotted rgba(176, 196, 222, 0.0) ; /* Transparent placeholder border */
    margin: 0.5em ;
    vertical-align: sub ;
}

img:hover {
    border: 1px dotted orange ;
}

